html {
	font-size: 10px;
}

:root {
	--blue: #348df5;
	--darkGrey: #2c2c2c;
	--green: #37ef8d;
	--lightGrey: #9ba5ac;
	--orange: #fd915e;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
}

.button {
	display: inline-block;
	padding: 15px 40px;
	min-width: max-content;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 2px;
	border: none;
	border-radius: 8px;
	color: white;
	transition: 0.3s;
}

.button:hover {
	transform: scale(1.1);
}

/* header */

.header {
	background: url(../images/banner/banner.png) center bottom / cover no-repeat;
	color: white;
}

/* nav */

.header__nav {
	position: relative;
	padding: 10px;
	background-color: var(--darkGrey);
}

.nav__item {
	font-size: 1.6rem;
	line-height: 250%;
}

.nav__icon {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 2.4rem;
}

.nav__list {
	display: none;
}

.nav__link {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.nav__link--lvl2 {
	padding-left: 40px;
}

.fa-chevron-down {
	display: none;
}

.nav__switcher:checked + .nav__list {
	display: block;
}

.header-btn {
	display: none;
}

/* header content */

.header__title {
	padding-top: 30px;
	font-size: 2.8rem;
	text-transform: capitalize;
}

.header__subtitle {
	margin-top: 20px;
	font-size: 1.5rem;
}

.header__btn {
	display: inline-block;
	margin-top: 60px;
}

.header__image-box {
	margin-top: 80px;
	text-align: center;
}

.header__image {
	max-width: 80%;
}

.button--header {
	background-color: #31e1e4;
}

/* features */

.features {
	color: #353535;
}

.features__title {
	margin: 80px auto 0;
	font-size: 2.6rem;
	text-align: center;
}

.features__list {
	text-align: center;
}

.features__item {
	margin: 35px auto;
	width: max(260px, 50%);
	font-size: 2.2rem;
}

.features__icon-box {
	position: relative;
	width: 120px;
	height: 120px;
	margin: 35px auto;
	border-radius: 20px;
}

.features__icon-box--blue {
	background-color: var(--blue);
}

.features__icon-box--orange {
	background-color: var(--orange);
}

.features__icon-box--green {
	background-color: var(--green);
}

.features__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.features__subtitle {
	margin-top: 80px;
	font-size: 2.8rem;
}

.features__description {
	margin-top: 40px;
	font-size: 1.5rem;
	line-height: 180%;
}

.features__btn {
	margin-top: 40px;
}

.button--features {
	background-color: var(--blue);
}

.features__image {
	display: block;
	margin: 40px auto;
}

/* review */

.review-box {
	position: relative;
	min-height: 60vh;
	background: url(../images/banner/testmonial.png) 50% 50% / cover no-repeat;
	color: white;
	text-align: center;
}

.review-box::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: rgba(50, 155, 251, 0.5);
}

.review-box__content-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.review-box__title {
    font-size: 2.8rem;
}

.review__content {
    margin-top: 20px;
    font-size: 1.6rem;
}

.review__stars {
    font-size: 1.4rem;
    color: gold;
}

.review__user-name {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
}